body {
}

.hideblock {
    position: absolute;
    background-color: white;
    width: 351px;
    height: 122px;
}

    .hideblock p {
        opacity: .6;
    }

.button {
    margin-top: 128px;
    margin-left: 159px;
    position: absolute;
    width: 35px;
    height: 35px;
    transition-property: transform, pointer-events;
    transition-duration: 1s, 5s;
}

    .button:hover {
        transform: scale(1.15);
        pointer-events: none;
    }

ul {
    list-style: none;
}

a img {
    margin: 0 10px;
}

a:hover {
    display: block;
}

.sgLi {
    display: inline-flex;
}

.item {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px 5px 0 5px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0, .2);
}

.trackImg {
    margin-top: 10px;
    border-radius: 50%;
}

.sgLi li {
    text-align: center;
}
