body[b-4pmb4g5j2c] {
}

.hideblock[b-4pmb4g5j2c] {
    position: absolute;
    background-color: white;
    width: 350px;
    height: 120px;
}

.button[b-4pmb4g5j2c] {
    margin-top: 128px;
    margin-left: 165px;
    position: absolute;
    width: 2%;
    height: 1.8%;
    transition-property: transform, pointer-events;
    transition-duration: 1s, 5s;
}

.button:hover[b-4pmb4g5j2c] {
    transform: scale(1.2);
    pointer-events: none;
}