body {
}

.hideblock {
    position: absolute;
    background-color: white;
    width: 350px;
    height: 120px;
}

.button {
    margin-top: 126px;
    margin-left: 165px;
    position: absolute;
    width: 2.3%;
    height: 3.3%;
    transition-property: transform, pointer-events;
    transition-duration: 1s, 5s;
}

.button:hover {
    transform: scale(1.2);
    pointer-events: none;
}