@model WebApplication1.Models.Playlist

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Playlist</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Img" class="control-label"></label>
                <input asp-for="Img" class="form-control" />
                <span asp-validation-for="Img" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />

@if (Model.Tracks.FirstOrDefault() != null) 
{
<ul>
    @foreach(var item in Model.Tracks)
    {
    <li class="sgLi"> 
        <div>
            <ul class="item">
                <li>
                    <img src="@item.Coverart" alt="Track Image" width="200" height="200" class="trackImg"/>
                </li>
                <li>
                    <br />
                    <div>@Html.DisplayFor(modelItem => item.Title) — @Html.DisplayFor(modelItem => item.Subtitle)</div>  
                    <p>@Html.DisplayFor(modelItem => item.Genres)</p>                 
                </li>
                <li>
                    @{
                        var parms = new Dictionary<string, string>
                        {
                            { "trackId", item.Key },
                            { "playlistId", Model.Id.ToString() }
                        };
                    }
                    <form asp-action="DeleteTrack" asp-all-route-data="parms">
                        <input type="submit" value="Remove from playlist" class="btn btn-primary"/>
                    </form>
                </li>
            </ul>
        </div>
    </li>
    }
</ul>
}

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
