/* _content/WebApplication1/Views/Playlists/Details.cshtml.rz.scp.css */
body[b-ptg2i9jhd6] {
}

.hideblock[b-ptg2i9jhd6] {
    position: absolute;
    background-color: white;
    width: 351px;
    height: 122px;
}

    .hideblock p[b-ptg2i9jhd6] {
        opacity: .6;
    }

.button[b-ptg2i9jhd6] {
    margin-top: 128px;
    margin-left: 159px;
    position: absolute;
    width: 35px;
    height: 35px;
    transition-property: transform, pointer-events;
    transition-duration: 1s, 5s;
}

    .button:hover[b-ptg2i9jhd6] {
        transform: scale(1.15);
        pointer-events: none;
    }

ul[b-ptg2i9jhd6] {
    list-style: none;
}

a img[b-ptg2i9jhd6] {
    margin: 0 10px;
}

a:hover[b-ptg2i9jhd6] {
    display: block;
}

.sgLi[b-ptg2i9jhd6] {
    display: inline-flex;
}

.item[b-ptg2i9jhd6] {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px 5px 0 5px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0, .2);
}

.trackImg[b-ptg2i9jhd6] {
    margin-top: 10px;
    border-radius: 50%;
}

.sgLi li[b-ptg2i9jhd6] {
    text-align: center;
}
/* _content/WebApplication1/Views/Playlists/Edit.cshtml.rz.scp.css */
body[b-m7sn8r6fst] {
}

ul[b-m7sn8r6fst] {
    list-style: none;
}

a img[b-m7sn8r6fst] {
    margin: 0 10px;
}

a:hover[b-m7sn8r6fst] {
    display: block;
}

.sgLi[b-m7sn8r6fst] {
    display: inline-flex;
}

.item[b-m7sn8r6fst] {
    width: 300px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px 10px 10px 10px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0, .2);
}

.item li p[b-m7sn8r6fst] {
    opacity: .6;
}

.trackImg[b-m7sn8r6fst] {
    margin-top: 10px;
    border-radius: 50%;
}

.sgLi li[b-m7sn8r6fst] {
    text-align: center;
}
/* _content/WebApplication1/Views/Playlists/Index.cshtml.rz.scp.css */
body[b-im5g9r2u5g] {
}

ul[b-im5g9r2u5g] {
    list-style: none;
}

.SG[b-im5g9r2u5g] {
    margin-left: 5%;
}

a img[b-im5g9r2u5g] {
    margin: 0 10px;
}

a:hover[b-im5g9r2u5g] {
    display: block;
}

.sgLi[b-im5g9r2u5g] {
    display: inline-flex;
}

.item[b-im5g9r2u5g] {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px 5px 10px 5px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0, .2);
}

.item li div[b-im5g9r2u5g] {
    font-size: 20px;
}

.item li p[b-im5g9r2u5g] {
    opacity: .6;
}

.playlistImg[b-im5g9r2u5g] {
    border-radius: 10px;
}

.sgLi li[b-im5g9r2u5g] {
    text-align: center;
}
/* _content/WebApplication1/Views/Search/Index.cshtml.rz.scp.css */
input[type=submit][b-a49txtx3yy] {
    background-color: #3862e0;
    color: white;
    padding: 2px 10px;
    border-radius: 10%;
}

img[b-a49txtx3yy] {
    border:3px solid white;
}
/* _content/WebApplication1/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-bddmc6yalx] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-bddmc6yalx] {
  color: #0077cc;
}

.btn-primary[b-bddmc6yalx] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-bddmc6yalx], .nav-pills .show > .nav-link[b-bddmc6yalx] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-bddmc6yalx] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-bddmc6yalx] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-bddmc6yalx] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-bddmc6yalx] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-bddmc6yalx] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.container[b-bddmc6yalx] {
    color: white;
}

/* _content/WebApplication1/Views/Tracks/ArtistDetails.cshtml.rz.scp.css */
body[b-0nq0lmdqkf] {
}

.hideblock[b-0nq0lmdqkf] {
    position: absolute;
    background-color: white;
    width: 351px;
    height: 122px;
}

    .hideblock p[b-0nq0lmdqkf] {
        opacity: .6;
    }

.button[b-0nq0lmdqkf] {
    margin-top: 128px;
    margin-left: 159px;
    position: absolute;
    width: 35px;
    height: 35px;
    transition-property: transform, pointer-events;
    transition-duration: 1s, 5s;
}

    .button:hover[b-0nq0lmdqkf] {
        transform: scale(1.15);
        pointer-events: none;
    }

ul[b-0nq0lmdqkf] {
    list-style: none;
}

a img[b-0nq0lmdqkf] {
    margin: 0 10px;
}

a:hover[b-0nq0lmdqkf] {
    display: block;
}

.sgLi[b-0nq0lmdqkf] {
    display: inline-flex;
}

.item[b-0nq0lmdqkf] {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px 5px 0 5px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0, .2);
}

.trackImg[b-0nq0lmdqkf] {
    margin-top: 10px;
    border-radius: 50%;
}

.sgLi li[b-0nq0lmdqkf] {
    text-align: center;
}
/* _content/WebApplication1/Views/Tracks/Artists.cshtml.rz.scp.css */
body[b-o6de3z7ikd] {
}

ul[b-o6de3z7ikd] {
    list-style: none;
}

.SG[b-o6de3z7ikd] {
    margin-left: 5%;
}

a img[b-o6de3z7ikd] {
    margin: 0 10px;
}

a:hover[b-o6de3z7ikd] {
    display: block;
}

.sgLi[b-o6de3z7ikd] {
    display: inline-flex;
}

.item[b-o6de3z7ikd] {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px 5px 10px 5px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0, .2);
}

    .item li div[b-o6de3z7ikd] {
        font-size: 20px;
    }

    .item li p[b-o6de3z7ikd] {
        opacity: .6;
    }

.playlistImg[b-o6de3z7ikd] {
    border-radius: 10px;
}

.sgLi li[b-o6de3z7ikd] {
    text-align: center;
}
/* _content/WebApplication1/Views/Tracks/Index.cshtml.rz.scp.css */
body[b-4pmb4g5j2c] {   
}

.hideblock[b-4pmb4g5j2c] {
    position: absolute;
    background-color: white;
    width: 351px;
    height: 122px;
}

.hideblock p[b-4pmb4g5j2c] {
    opacity: .6;
}

.button[b-4pmb4g5j2c] {
    margin-top: 128px;
    margin-left: 159px;
    position: absolute;
    width: 35px;
    height: 35px;
    transition-property: transform, pointer-events;
    transition-duration: 1s, 5s;
}

.button:hover[b-4pmb4g5j2c] {
    transform: scale(1.15);
    pointer-events: none;
}

input[type=submit][b-4pmb4g5j2c] {
    background-color: #3862e0; 
    color: white;
    padding: 2px 10px;
    border-radius: 10%;
}

ul[b-4pmb4g5j2c] {
    list-style: none;
}

a img[b-4pmb4g5j2c] {
    margin: 0 10px;
}

a:hover[b-4pmb4g5j2c] {
    display: block;
}

.sgLi[b-4pmb4g5j2c] {
    display: inline-flex;   
}

.item[b-4pmb4g5j2c] {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px 5px 0 5px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0, .2);
}

.trackImg[b-4pmb4g5j2c] {
    margin-top: 10px;
    border-radius: 50%;
}

.sgLi li[b-4pmb4g5j2c] {
   text-align: center;
}
